/* Шапка */

.header-top {
    background-color: #211919;
    height: 100px;
}

.logo_motion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 120px;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #FB860A;
}

.logo_image {
    display: flex;
    margin: 10px;
    width: 80px;
    height: 80px;
}

.info_btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: underline;
    color: white;
    padding: 35px 10px;
}

.info_bold {
    font-weight: 700;
}

/* Главная */

.mainer {
    margin: 0 120px;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #eee;
}

.photo_img {
    width: 667px;
    height: 500px;
}

.photo_info {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.about_info {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.photo_text {
    max-width: 430px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 40px auto
}

.about_text {
    max-width: 800px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 40px auto;
    margin-bottom: 0
}

.about_text_font {
    max-width: 500px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0 auto;
}

.photo_btn {
    margin: 0 auto;
}

.btn_text {
    width: 205px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9500;
    color: white;
    font-size: 20px;
    border: none;
}

.btn_text:hover {
    transition: all 0.5s;
    background-color: #ff3700;
}

/* Карточки */

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
}

.project_title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.project_card {
    width: 360px;
    height: 400px;
    background-color: #F0F0F0;
    border-radius: 15px;
    margin: 25px;
}

.project_image {
    width: 100px;
    height: 100px;
    margin: 30px 130px 10px 130px;
}

.project_name {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.project_text {
    height: 60px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.project_btn {
    display: flex;
    align-items: end;
    margin: 30px 80px;
}

/* Резюме */

.resume {
    display: flex;
    flex-direction: row;
}

.resume_flex {
    display: flex;
    flex-direction: row;
}

.resumey {
    width: 350px;
    background-color: #FFCF9C;
}

.main_resume {
    margin-left: 40px;
}

.resume_photo_img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.resume_text {
    width: 334px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px 15px;
}

.resume_mark {
    width:  40px;
    height: 40px;
    background-color: #FFCF9C;
}

.resume_title {
    margin: 7px;
}

.resume_main_text {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 60px;
}

.author_resume {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Портфолио */

.portfolio_title {
    font-weight: 700;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px auto;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
}

.project_title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.portfolio_card {
    width: 700px;
    height: 600px;
    background-color: #F0F0F0;
    border-radius: 15px;
    margin: 25px;
}

.portfolio_image {
    width: 600px;
    height: 300px;
    margin: 30px 50px 10px 50px;
}

.portfolio_name {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.portfolio_btn {
    display: flex;
    align-items: end;
    margin: 30px 200px;
}

.portfolio_btn_text {
    width: 305px;
    height: 70px;
    border-radius: 25px;
    background-color: #FF9500;
    color: white;
    font-size: 30px;
    border: none;
}

.portfolio_btn_text:hover {
    transition: all 0.5s;
    background-color: #ff3700;
}

/* Контакты */

.contact_title {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 30px auto;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
}

.contact_info {
    display: flex;
    align-items: stretch;
}

.contact_photo_img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.contact_map {
    width: 577px;
    height: 495px;
}

.contact_name {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-left: 15px;
}

.contact_text {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-left: 15px;
}
.gapy {
    margin-top: 100px;
}

.contact_data {
    margin-left: 400px;
}
