/* Шапка */

.header-top {
    background-color: #211919;
    height: 100px;
}

.logo_motion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 120px;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #FB860A;
}

.logo_image {
    display: flex;
    margin: 10px;
    width: 80px;
    height: 80px;
}

.info_btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: underline;
    color: white;
    padding: 35px 10px;
}

.info_home {
    font-weight: 700;
}

/* Главная */

.mainer {
    margin: 0 120px;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #eee;
}

.photo_img {
    width: 667px;
    height: 500px;
}

.photo_info {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}
/* 
.photo_text_font {
    width: 480px;
} */

.photo_text {
    max-width: 430px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 40px auto
}

.photo_btn {
    margin: 0 auto;
}

.btn_text {
    width: 205px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF9500;
    color: white;
    font-size: 20px;
    border: none;
}

.btn_text:hover {
    transition: all 0.5s;
    background-color: #ff3700;
}

/* Карточки */

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
}

.project_title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.project_card {
    width: 360px;
    height: 400px;
    background-color: #F0F0F0;
    border-radius: 15px;
    margin: 25px;
}

.project_image {
    width: 100px;
    height: 100px;
    margin: 30px 130px 10px 130px;
}

.project_name {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.project_text {
    height: 60px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.project_btn {
    display: flex;
    align-items: end;
    margin: 30px 80px;
}